<!doctype html>
<html>
<head>
    <title>Make Wish</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wall_css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>I see you are {{ request.session.first_name }} {{ request.session.last_name }}</h1><br>
            <form class="inline" action="/logout" method="">
                {% csrf_token %}
                    <input type='submit' value='Logout'>
            </form>
            <a href="make_wish">Make a wish to add items to the list</a>
        </div>
    <h1>Most recent Items on your wish list</h1>
    <table class="wish_table">
        <tr>
            <th>Item Name</th>
            <th>Added By</th>
            <th>Date added</th>
            <th>Actions<th>
        </tr>
        {% for i in wishlist %}
        <tr>
            <td><a href="/{{ i.item_name }}/item_wishes">{{ i.item_name }}</a></td>
            <td>{{ i.wisher.first_name }} {{ i.wisher.last_name }} </td>
            <td>{{ i.created_at }}</td>
            <td><a href="/{{ i.id }}/del_wish">Delete your wish</a></td>
        </tr>
        {% endfor %}
        {% for i in others %}
        <tr>
            <td><a href="/{{ i.item_name }}/item_wishes">{{ i.item_name }}</a></td>
            <td>{{i.wisher.first_name }} {{i.wisher.last_name}}</td>
            <td>{{i.created_at}}</td>
            <td><a href="/{{ i.id }}/remove_wishes">Remove from list</a></td>
        </tr>
        {% endfor %}
    </table>
    <div class="header">
        <h1>These people also also wished on these items</h1>
    </div>
    <table class="wish_table">
        <tr>
            <th>Item Name</th>
            <th>Added By</t>
            <th>Date added</th>
            <th>Actions<th>
        </tr>
        {% for i in otherwishes %}
        <tr>
            <td>{{ i.item_name }}</td>
            <td>{{ i.wisher.first_name }} {{ i.wisher.last_name }} </td>
            <td>{{ i.created_at }}</td>
            <td><a href="/{{ i.id }}/user_wishes">Add to my list</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
