<!doctype html>
<html>
<head>
    <title>User List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wall_css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>I see you are {{ request.session.first_name }} {{ request.session.last_name }}</h1><br>
            <form class="inline" action="/logout" method="">
                {% csrf_token %}
                    <input type='submit' value='Logout'>
            </form>
            <h2>Add Items to your list!</h2>
        </div>
        <form action="/success/make_wish" method="POST">
            {% csrf_token %}
                <textarea name="item_name" id="" cols="30" rows="1"></textarea><br>
                <input type="submit" value = "Add an Item">
        </form>
    </div>
    <a href="/other_users">See other user's wished items</a>
    <h1>Most recent Items on your wish list</h1>
    <table class="wish_table">
        <tr>
            <th>Item Name</th>
            <th>Added By</th>
            <th>Date added</th>
            <th>Actions<th>
        </tr>
        {% for i in wishes %}
        <tr>
            <td><a href="/{{ i.item_name }}/item_wishes">{{ i.item_name }}</a></td>
            <td>{{ i.wisher.first_name }} {{ i.wisher.last_name }} </td>
            <td>{{ i.created_at }}</td>
            <td><a href="/{{ i.id }}/del_wish">remove</a></td>
        </tr>
        {% endfor %}
        {% for i in others %}
        <tr>
            <td><a href="/{{ i.item_name }}/item_wishes">{{ i.item_name }}</a></td>
            <td>{{i.wisher.first_name }} {{i.wisher.last_name}}</td>
            <td>{{i.created_at}}</td>
            <td><a href="/{{ i.id }}/remove_wishes">remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
