<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wall_css/style.css' %}">
</head>
<body>
    <div class="container">
    <div class="header">
     <h1>These people also also wished on this items</h1>
     <form class="inline" action="/logout" method="">
        {% csrf_token %}
            <input type='submit' value='Logout'>
    </form>
    </div>
    <table class="wish_table">
        <tr>
            <th>Item Name</th>
            <th>User</th>
        </tr>
        {% for i in wishes  reversed %}
        <tr>
            <td>{{ i.item_name }}</td>
            <td>{{ i.wisher.first_name }} {{ i.wisher.last_name }} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/success">Back to your list</a>
    </div>
</body>
</html>